.register__form {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 884px);
  margin: 10px auto 0;
}

@media screen and (max-width: 1100px) {
  .register__form {
    max-width: calc(100% - 372px);
  }
}

@media screen and (max-width: 600px) {
  .register__form {
    max-width: calc(100% - 60px);
    margin-top: 50px;
  }
}

.register__inputs {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.register__label {
  color: #8B8B8B;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
}

.register__input {
  background-color: #2F2F2F;
  border-radius: 8px;
  border: none;
  padding: 15px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
}

.register__input_password {
  color: #EE3465;
}

.register__error {
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  color: #EE3465;
  margin-top: 10px;
}

.register__button {
  background-color: #4285F4;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  border: none;
  margin-top: 69px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .register__button {
    font-size: 12px;
    line-height: 14.52px;
    margin-top: 156px;
  }
}

.register__button_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  border: none;
  margin-top: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
}

.register__button_login {
  margin-top: 169px;
}

@media screen and (max-width:600px) {
  .register__button_login {
    margin-top: 256px;
  }
}

.register__button:hover {
  opacity: 80%;
  transition: 1s ease-out;
}

.register__question {
  text-align: center;
  margin-top: 16px;
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

@media screen and (max-width: 600px) {
  .register__question {
    margin-top: 14px;
    font-size: 12px;
    line-height: 14.52px;    
  }
}

.register__link {
  color: #4285F4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-decoration: none;
}

.register__link:hover {
    opacity: 70%;
    transition: 1s ease-out;
  }
