.techs {
background-color: #272727;
padding: 100px 70px;
}

@media screen and (max-width: 900px) {
  .techs {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 600px) {
  .techs {
    padding: 70px 18px;
  }
}

.techs__block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.techs__title {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  margin: 90px auto 0;
  max-width: calc(100% - 470px);
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 900px) {
  .techs__title {
    margin-top: 80px;
    max-width: calc(100% - 68px);
  }
}

@media screen and (max-width: 600px) {
  .techs__title {
    margin-top: 60px;
    max-width: 100%;
    font-size: 30px;
    line-height: 36.31px;
  }
}

.techs__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  max-width: calc(100% - 640px);
  margin: 26px auto 0;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 900px) {
  .techs__subtitle {
    margin-top: 22px;
    max-width: calc(100% - 208px);
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 600px) {
  .techs__subtitle {
    margin-top: 24px;
    max-width: 100%;
    font-size: 11px;
    line-height: 16px;
  }
}

.techs-items {
  display: flex;
  gap: 10px;
  margin: 100px auto 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .techs-items {
    margin-top: 83px;
  }
}

@media screen and (max-width: 700px) {
  .techs-items {
    margin: 50px 53px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .techs-items {
    justify-content: start;
  }
}

.techs-item {
  width: 90px;
  height: 60px;
  background-color: #303030;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 900px) {
  .techs-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 14.52px;
  }
}
